.blog-post-card {
    width: calc(calc(100% / 3) - 20px);
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 10px;
    overflow: hidden;
    text-align: start;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 3px 6px hsla(0,0%,79%,.5);
}

.blog-post-card > a> div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog-post-card > a> div {
    
    padding: 10px 16px;
}
.blog-post-card > a > img {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}
h4{
    margin-bottom: 5px;
}
.red-text {
    font-size: 16px;
    color: #ee3425;
}
  
.blog-post-card > a > div > p {
    max-height: calc(1.4rem * 3);
    overflow: hidden;
}

.footer {
    font-weight: 700;
}

.footer > span {
    color: #ee3425;
}

.footer > p {
    color: #9a9a9a;
}