.footer-container-cover {
    margin-left: auto;
    margin-right: auto;
    background: var(--color-secondary-1);
}

.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 8px 30px;
}

.footer-container > div {
    display: flex;
    align-items: center;
    text-align: center;
}

.footer-container > div > div {
    display: flex;
    align-items: center;
}

.footer-container > div > div > img {
    margin-right: 5px;
}

.footer-container > div > span {
    align-self: center;
    font-family: var(--font-family-heading);
    font-size: 12px;
    font-weight: 700;
}

.footer-container > div > div > span {
    font-size: 15px;
    font-weight: 700;
    text-decoration: underline;
    color: #ee3425;
}

.social-media-svgs {
    padding: 8px 30px;
}

.social-media-svgs > svg {
    margin-right: 4px;
}

.middle-section{
    margin-left: 30px;
}

@media screen and (max-width: 767px) {
    .middle-section {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .middle-section > a{
        display: none;
    }
    .footer-container {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .icons {
        flex-direction: row-reverse;
        align-items: flex-start;
    }
    .social-media-svgs {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-container > div > span {
        font-family: var(--font-family);
        font-weight: 500;
    }
}