.box-container {
    padding: 16px;
    margin-bottom: 50px;
    background: #fffef3;
    
    padding-left: 0px;
}
.box-container > div{
    width: 1200px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}

.box-container > div > h3 {
    margin-top: 0;
    margin-bottom: 1em;
}

.container {
    display:flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.container-item {
    display: flex;
    flex-direction: column;
    width: 100px;
    margin: 10px;
}

.container-item > span {
    font-size: 16px;
    font-weight: 700;
    color: #000;
    margin-top: 0.5em;
}

.container-item > img {
    width: 100px;
    height: 100px;
}