
.notification-block{
    display: flex;
    background-color: var(--color-primary-2);
    height: 36px;
    justify-content: space-around;
    position: relative;
    width: 100%;
}

.notification-block > div > img, .notification-block > div > p, .notification-block > svg {
    align-self: center;
}

.notification-block > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1;
}

.notification-block > div > p{
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    margin: 2px;
}

.notification-block > div > p> a{
    text-decoration: none;
    color: #fcde00;
    margin-left: 2px;
}

.notification-block > div > img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}

.notification-block > svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 60px;
}

.notification-block > div > p> a:hover{
    text-decoration: underline;
    text-decoration-color: #fcde00;
    text-decoration-thickness: 1.5px;
}

@media only screen and (max-width: 766px) {
    .notification-block {
        height: 48px;
    }
}