.footer-container-cover {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-secondary-1);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px 0 50px;
}

.footer-container > div > a {
    text-decoration: none;
    font-family: roboto;
    line-height: 2rem;
    color: #000;
    width: fit-content;
}

.footer-container > div {
    text-align: left;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 767px) {
    .footer-container-cover {
        display: none;
    }
}