.product-card > div{
    width: 184px;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px transparent solid;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgba(169,188,218,.65);
    padding: 10px 7px;
    margin: 10px;
    align-items: center;
    background-color: #fff;
}
.product-card > div > img{
    width: 60px;
    height: 60px;
}
.product-card {
    text-decoration: none;
}
.product-card > div > h4 {
    color: black;
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.3em;
}
.product-card > div > p { 
    color:#ee3425;
}

.product-card > div:hover{
    border-color: #ee3425;
}